/***CUSTOM CSS RULES FOR YOUR SITE***/
/*
Цвета:
 - основной оранжевый: #ef7f1a
 - светлый оранжевый: #fdd19a
 - темный оранжевый: #d26b0f
 - светлосерый: #dee0ee
 - серый: #8184a1
 - черный: #363224
 - темносиний: #575b71
*/
h3 {
    font-size: 14px;
    font-weight: 500;
    /*font-style: italic;*/
}

button[disabled] {
    color: #a0a4bc !important;
    background: #edeef8 !important;
}

a#to_top i {
    top: 60px !important;
}
.AplsFullImg {
    width: 100%;
}
.style-switcher,
.style-switcher > div {
    display: none !important;
}

.content-wrapper * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important;
}

a#feedback-button.atlwdg-trigger.atlwdg-SUBTLE {
    right: 3px !important;
    border: none !important;
    box-shadow: none !important;
    background: #d26b0f !important;
    color: #fff !important;
    padding: 10px 25px;
    text-transform: uppercase !important;
}

.jira-button {
    /*display: inline-block;*/
    /*display: -moz-inline-stack;*/
    height: 48px;
    display: table;
    float: right;
    margin: 0px;
    padding: 0px 14px 0px 15px;
    box-shadow: none !important;
    text-decoration: none !important;
    color: #ffffff !important;
    border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.jira-button .fa-jira {
    display: table-cell;
    vertical-align: middle;
    font-size: 30px !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    box-shadow: none !important;
}

.fa-jira:before {
    content: "\f071";
    content: "\f188";
    box-shadow: none !important;
}

.jira-button:hover {
    background: #ffffff !important;
    color: #f18c32 !important;
}

/****************/
/*  СВОИ СТИЛИ  */
/****************/

.clear {
    clear: both;
}

/* Форматирование текста */
p.TextP {
    line-height: 1.4;
    text-align: justify;
}

p.TextListName {
    line-height: 1.4;
    text-align: justify;
}

.InfoText {
    color: #969ab7;
    font-style: italic;
    font-size: 12px;
}

.InfoTextClassic {
    color: #969ab7;
    font-size: 12px;
}

ul.TextList,
ol.TextList {
    list-style-type: none;
    margin-bottom: 10px;
}
ul.TextList>li>div,
ol.TextList>li>div,
ul.TextList>li>p,
ol.TextList>li>p {
    text-indent: 0;
}
ul.TextList li ul.TextList,
ol.TextList li ol.TextList {
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 20px;
}

ul.dash {
    text-indent: -8px;
}

ul.dash>li>ul.dash {
    margin-left: 5px;
}

ul.dash>li:before {
    content: "- ";
}

ol.num {
    list-style: none;
    counter-reset: num !important;
    text-indent: -20px;
}

ol.num>li:before {
    content: counters(num, ".") ". ";
    counter-increment: num;
}

ol.num>li>ol.num {
    display: block;
    margin-left: 0;
    text-indent: -25px;
}

table ol.num {
    counter-reset: tnum !important;
}

table ol.num li:before {
    content: counters(tnum, ".") ". ";
    counter-increment: tnum;
}

hr.TextHR {
    border: 0;
    color: #ef7f1a;
    background-color: #ef7f1a;
    height: 1px;
    margin: 5px 30px 5px 30px;
}

p.TextP a,
p.TextListName a {
    text-decoration: none;
    outline: none;
    font-weight: bold;
    color: #ef7f1a;
}

p.TextP a:hover,
p.TextListName a:hover {
    text-decoration: none;
    outline: none;
    font-weight: bold;
    color: #f30;
}

.content_button {
    color: #8184a1;
    text-decoration: none;
    line-height: 27px;
    border: 1px solid #dee0ee;
    background: none;
    height: 27px;
    display: block;
    margin: 7px 0 0 0;
    padding: 0;
}

.content_button.send_rezume {
    width: 170px;
    margin: 7px auto;
}

.content_button.send_rezume .fa-file {
    margin-right: 5px;
}

table.Stylized {
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe;
    width: 95%;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    margin: 20px auto;
}

table.Stylized.auto_width {
    width: auto;
}

table.Stylized th, table.Stylized td {
    padding: 5px 5px;
    text-align: center;
}

table.Stylized th {
    font: bold 14px/20px 'Roboto', "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    padding-top: 12px;
    text-shadow: 1px 1px 1px #fff;
    background: #e8eaeb;
}

table.Stylized td {
    font: 300 12px/20px 'Roboto', "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

table.Stylized tr.odd-row td {
    background: #f6f6f6;
}

table.Stylized td.first, table.Stylized th.first {
    text-align: left
}

table.Stylized td.last {
    border-right: none;
}

table.Stylized td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

table.Stylized tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

table.Stylized th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

table.Stylized tr:first-child th.first {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px; /* Saf3-4 */
}

table.Stylized tr:first-child th.last {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px; /* Saf3-4 */
}

table.Stylized tr:last-child td.first {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px; /* Saf3-4 */
}

table.Stylized tr:last-child td.last {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px; /* Saf3-4 */
}

table.Stylized tr:hover td {
    cursor: pointer;
    background: #F8F8F8;
}

table.Stylized tr td img {
    display: block;
    margin: 5px auto;
    width: 50px;
}
.NavigatorBigIcon .NavigatorBigIconElementHref {
    float: left;
    display: block;
    border: 1px solid #dee0ee;
    width: 223px;
    height: 200px;
    text-align: center;
    color: #8184a1;
    text-decoration: none;
    margin: 0px 0px 5px 0px;
    padding: 5px;
}
.NavigatorBigIcon .NavigatorBigIconElementHref:nth-child(4n + 2) {
    margin: 0px 5px 5px 5px;
}
.NavigatorBigIcon .NavigatorBigIconElementHref:nth-child(4n + 3) {
    margin: 0px 5px 5px 0px;
}

.NavigatorBigIcon .NavigatorBigIconElementHref:hover {
    padding: 4px;
    border: 2px solid #ef7f1a;
    color: #ef7f1a;
    cursor: pointer;
}
.NavigatorBigIcon .NavigatorBigIconElementHref .NavigatorBigIconElement img {
    display: block;
    margin: 20px auto;
    width: 182px;
    height: 122px;
}
.NavigatorBigIcon .NavigatorBigIconElementHref .NavigatorBigIconElement img.hover,
.NavigatorBigIcon .NavigatorBigIconElementHref .NavigatorBigIconElement:hover img.main{
    display: none;
}
.NavigatorBigIcon .NavigatorBigIconElementHref .NavigatorBigIconElement:hover img.hover {
    display: block;
}
.NavigatorBigIcon .NavigatorBigIconElement .title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

/*Доставка*/
.ymaps-2-1-45-balloon__content {
    padding: 0 !important;
}

.ymaps-2-1-45-balloon__close + .ymaps-2-1-45-balloon__content {
    margin-right: 0 !important;
}

.ymaps-2-1-45-balloon__close {
    position: absolute !important;
    right: -5px !important;
    top: -4px !important;
    background: #ef7f1a;
}

.ymaps-2-1-45-balloon__close-button {
    height: 34px !important;
    background: url(../../../apls_resources/icons/delivery/close_white_ymap.png) center center no-repeat !important;
}

#map {
    width: 100%;
    height: 400px;
}

.deliveryMapWrapper {
    color: #575b71;
    font-family: "Open Sans", sans-serif;
}

.deliveryMap {
    border-collapse: collapse;
    border: none;
}

.deliveryMap .lineGrey {
    border-bottom: 2px #e8eaeb solid;
}

.deliveryMap .lineOrange {
    border-bottom: 2px #ef7f1a solid;
}

.deliveryMap th {
    padding: 0;
    margin: 0;
}

.deliveryMap td {
    padding: 3px 10px;
    text-align: center;
    border-right: 1px #edeef8 solid;
    white-space: nowrap;
}

.deliveryMap td:last-child {
    border: none;
}

.deliveryMapTitleBorderWhite {
    border-right: 1px #fff solid;
}

.deliveryMapTitle {
    padding: 5px;
    text-align: center;
    background: #ef7f1a;
    color: #fff;
}

.deliveryMapTitleATTheTime {
    padding: 5px;
    text-align: center;
    background: #e8eaeb;
    color: #000;
}

.deliveryMapTD {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}

.deliveryMapAtTheTime {
    border-top: 1px #edeef8 solid !important;
}

.deliveryMapIcon_truck_1_5 {
    background: url(../../../apls_resources/icons/delivery/truck_1_5.svg) center center no-repeat;
}

.deliveryMapIcon_truck_3_5 {
    background: url(../../../apls_resources/icons/delivery/truck_3_5.svg) center center no-repeat;
}

.deliveryMapIcon_truck_5 {
    background: url(../../../apls_resources/icons/delivery/truck_5.svg) center center no-repeat;
}

.deliveryMapIcon_truck_10 {
    background: url(../../../apls_resources/icons/delivery/truck_10.svg) center center no-repeat;
}

.deliveryMapIcon_truck_20 {
    background: url(../../../apls_resources/icons/delivery/truck_20.svg) center center no-repeat;
}

.deliveryMapIcon_manipulator {
    background: url(../../../apls_resources/icons/delivery/manipulator.svg) center center no-repeat;
}

.deliveryMapIcon_phone {
    background: url(../../../apls_resources/icons/delivery/phone.svg) center center no-repeat;
}

.deliveryMapIcon_climb {
    background: url(../../../apls_resources/icons/delivery/climb.svg) center center no-repeat;
}

.deliveryMapIcon_truck_long {
    background: url(../../../apls_resources/icons/delivery/truck_long.svg) center center no-repeat;
}

.deliveryMapIcon_assembling {
    background: url(../../../apls_resources/icons/delivery/assembling.svg) center center no-repeat;
}

.deliveryMapIcon_color {
    background: url(../../../apls_resources/icons/delivery/color.svg) center center no-repeat;
}

.deliveryMapTextLeft td {
    text-align: left !important;
}

.blockAnchor {
    position: relative;
}

.blockAnchor a {
    position: absolute;
    top: -60px;
}

/*кредит*/
.LogoBanks {
    border: 1px solid #edeef8;
    margin: 3px;
    /*width: 167px;*/
    padding: 8px;
    float: left;
    cursor: pointer;
}

.LogoBanksSmall {
    height: 75px;
    float: left;
    margin-right: 15px;
}

.logoText {
    margin-top: 25px;
}

.contentBank {
    display: none;
}

.tableBanksDataLeft td {
    text-align: left !important;
}

.LogoBanks:hover {
    border: 2px solid #ef7f1a;;
    margin: 3px;
    padding: 7px;
    cursor: pointer;
}

/* Контакты магазинов */
.RegionsContacts {
}

.RegionsContacts .RegionsButtonsWrapper {
    height: 40px;
}

.RegionsContacts .RegionsButtonsWrapper .RegionsButtonBlock {
    color: #8184a1;
    text-decoration: none;
    line-height: 27px;
    border: 1px solid #dee0ee;
    background: none;
    float: left;
    padding: 0 10px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.RegionsContacts .RegionsButtonsWrapper .RegionsButtonBlock:hover,
.RegionsContacts .RegionsButtonsWrapper .RegionsButtonBlock.current:hover {
    background: #8184a1 !important;
    border: 1px solid #8184a1 !important;
    color: #fff;
}

.RegionsContacts .RegionsButtonsWrapper .RegionsButtonBlock.current {
    background: #ef7f1a !important;
    border: 1px solid #ef7f1a !important;
    color: #fff;
}

.RegionsContacts .RegionsWrapper {
}

.RegionsContacts .RegionsWrapper .RegionBlock {
    position: relative;
    height: 660px;
}

.RegionsContacts .RegionsWrapper .RegionBlock:not(:first-child) {
    display: none;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionMaps {
    width: 100%;
    height: 100%;
    text-align: center;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionMaps .RegionMap {
    display: none;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionMaps .RegionMap.Main {
    display: block;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionMaps .ymaps-2-1-41-controls__toolbar_left,
.RegionsContacts .RegionsWrapper .RegionBlock .RegionMaps .ymaps-2-1-41-controls__toolbar_right,
.RegionsContacts .RegionsWrapper .RegionBlock .RegionMaps .ymaps-2-1-41-controls__control,
.RegionsContacts .RegionsWrapper .RegionBlock .RegionMaps .ymaps-2-1-41-copyright__content {
    display: none;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements {
    overflow-y: auto;
    overflow-x: hidden;
    width: 220px;
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: none;
    background: #ffffff;
    background: rgba(255, 255, 255, .9);
    background: transparent;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement {
    border-bottom: 2px solid #ffffff;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock {
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactName {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactName h1 {*/
/*background: #ef7f1a;*/
/*color: #ffffff;*/
/*font: 16px/20px Arial,Helvetica,sans-serif;*/
/*text-align: center;*/
/*padding: 10px 0;*/
/*margin: 0;*/
/*}*/
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactName h1 {
    background: #ffffff;
    color: #ef7f1a;
    font: 16px/20px Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border: 2px solid #ef7f1a;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactName h1:hover,
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactName.current h1 {
    background: #ef7f1a;
    color: #ffffff;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData {
    padding: 18px 10px 18px 30px;
    position: relative;
    cursor: pointer;
    background: #ffffff;
    color: #8184a1;
    display: none;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData a {
    color: #8184a1;
    text-decoration: none;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData a:hover {
    color: #ef7f1a;
}

/*
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData {
    padding: 18px 10px 18px 30px;
    position: relative;
    cursor: pointer;
    color: #8184a1;
}
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData:hover,
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData.active {
    background: #ef7f1a;
    color: #ffffff;
}
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData:hover a,
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData.active a {
    color: #ffffff;
}
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData a {
    color: #8184a1;
}
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData a:hover {
    color: #ffffff;
    border-bottom: 1px dotted #ffffff;
}
*/
.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData .ShopСontactText {
    padding-bottom: 10px;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData .ShopСontactText .ShopСontactText_adress {
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData .ShopСontactText .ShopСontactText_email {
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData .ShopСontactText .ShopСontactText_phone {
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData .ShopСontactTimeTable {
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData .ShopСontactTimeTable table.time_table {
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData .ShopСontactTimeTable table.time_table td.time_table_text {
    text-align: right;
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData .ShopСontactTimeTable table.time_table td.time_table_text span.mainDay {
}

.RegionsContacts .RegionsWrapper .RegionBlock .RegionElements .RegionElement .ShopСontactBlock .ShopСontactData .ShopСontactTimeTable table.time_table td.time_table_time {
    text-align: left;
}

/* Контакты менеджеров */
.WokersWrapper {
}

.WokersWrapper .WokerBlock {
    display: block;
    float: left;
    width: 211px;
    border: 1px solid #dee0ee;
    padding: 10px 10px;
    margin: 3px;
}

.WokersWrapper .WokerBlock:hover {
    border: 1px solid #ef7f1a;
}

.WokersWrapper .WokerBlock .WorkerContactFIO {
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ef7f1a;
}

.WokersWrapper .WokerBlock .WorkerContactPost {
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    text-transform: lowercase;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dee0ee;
}

.WokersWrapper .WokerBlock .WorkerContactBlock {
}

.WokersWrapper .WokerBlock .WorkerContactBlock .WokerDataBlock {
}

.WokersWrapper .WokerBlock .WorkerContactBlock .WokerDataBlock .MainWokerData {
    height: 60px;
}

.WokersWrapper .WokerBlock .WorkerContactBlock .WokerDataBlock .WorkerContactContact {
    font-size: 12px;
    text-align: center;
}

.WokersWrapper .WokerBlock .WorkerContactBlock .WokerDataBlock .WorkerContactContact.text {
    height: 50px;
    width: 211px;
    font-size: 10px;
    text-align: center;
    line-height: 1;
    display: table-cell;
    vertical-align: bottom;
    /*font-style: italic;*/
}

/* Сервисные центры */
.workarea .ServiceCenterSelectBox {
    background: #efefef;
    background: rgb(245, 250, 255);
    background: #fff url('../img/page_bg.png') 0 0 repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font: 14px/16px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    color: #000;
    width: 500px;
    margin: 2px 0px 2px 0px;
    border: none;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 #fff;
}

.workarea h2.ServiceCentersSection {
    font: 18px/30px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    height: 30px;
    margin: 0px 0px 10px 0px;
    padding: 0px 5px 0px 10px;
    background: #ef7f1a;
}

.workarea .ServiceCentersGroup_Column1 {
    width: 475px;
    float: left;
}

.workarea .ServiceCentersGroup_Column2 {
    width: 475px;
    float: right;
}

.workarea .ServiceCentersElement {
    width: 465px;
    /*float: left;*/
    /*background: rgba(255,255,255,0.5);*/
    /*border-top: rgba(255,100,0,0.5) 1px solid;*/
    margin: 0px 0px 0px 0px;
    padding-bottom: 5px;
    margin: 5px;
    background: white url(../img/grid.png) repeat center center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font: 14px/16px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
}

.workarea .ServiceCentersElement .element, .workarea .ServiceCentersElement .inf {
    text-align: justify;
    /*font: 0.95em 'Open Sans',Arial,Helvetica,sans-serif;*/
    font: 14px/16px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    line-height: 1.2;
    margin: 0px;
}

.workarea .ServiceCentersElement .element {
    background: rgba(200, 200, 200, 0.5);
    text-align: left;
    margin: 0px 0px 5px 0px;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
    font-size: 14px;
    background: #989898;
    color: #fff;
    text-shadow: none;
}

.workarea .ServiceCentersElement .inf {
    color: #444;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 30px;
    text-align: left;
}

.workarea .ServiceCentersElement .inf .ServiceCentersInformationTable {
    width: 100%;
}

.workarea .ServiceCentersElement .inf .ServiceCentersInformationTable,
.workarea .ServiceCentersElement .inf .ServiceCentersInformationTable td {
    border-collapse: collapse;
    border: none;
}

.workarea .ServiceCentersElement .inf .ServiceCentersInformationTable .ServiceCentersInformationTable_Adress {
    padding-bottom: 10px;
    text-align: left;
    vertical-align: middle;
}

.workarea .ServiceCentersElement .inf .ServiceCentersInformationTable .ServiceCentersInformationTable_Logo {
    text-align: right;
    vertical-align: bottom;
}

.workarea .ServiceCentersElement .inf .ServiceCentersInformationTable .ServiceCentersInformationTable_Logo .ServiceCentersLogo {
    max-width: 150px;
    max-height: 20px;
}

/*Каталог*/

/*Карточка товара*/
.catalog-detail .catalog-detail-preview-text {
    display: none;
}

.article_rating .rating {
    display: none;
}

/*Реквизиты товара*/
.productDetails {
    float: left;
}

.productDetailsIcons {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    cursor: pointer;
}

.availableServices {
    font-size: 12px;
    color: #a0a4bc;
}
/* Сервисные центры карта товара*/
.elementServiceCenter {
    color: #575b71;
}
.elementServiceCenterText {
    color: #8184a1;
}

/**********************/
/*  ИЗМЕНЕНИЯ СТИЛЕЙ  */
/**********************/

/* Преимущества магазина */
.advantages .adv-item {
    width: 25%;
}

/* логотип */
.header_1 .logo {
    float: left;
    margin: 10px 0 0 30px;
    padding: 0;
}

/* Кнопка купить в спсике товаров */
.btn_buy {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

/* ползунок диапазона */
.filter .bx_ui_slider_range .bx_ui_slider_handle {
    background: #ef7f1a;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.filter .bx_ui_slider_range .bx_ui_slider_handle i {
    font-size: 20px;
}

.filter .bx_ui_slider_track .bx-ui-slider-pricebar-v {
    background: #ef7f1a;
}

.filter .bx_ui_slider_track .bx-ui-slider-pricebar-vn {
    background: #fdd19a;
}

/* Левое меню навигации */
ul.left-menu > li > a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

ul.left-menu > li > a,
ul.left-menu > li.parent > ul.submenu > li a, ul.left-menu > li.parentMore > ul.submenuMore > li a {
    text-decoration: none;
}

ul.left-menu > li.parent > ul.submenu, ul.left-menu > li.parent > .catalog-section-childs, ul.left-menu > li.parentMore > ul.submenuMore {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

ul.left-menu > li > a {
    font-size: 10px !important;
}

/* умный фильтр слева */
.catalog_item_toogle_filter .showfilter,
.filter {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.custom-forms label.disabled, .custom-forms.active label.disabled {
    /*display: none;*/
}

.catalog_item_toogle_filter .showfilter span:hover,
.filter form table tr td .sect_name:hover .sect_text span,
a.catalog_item_toogle_filter_hidden:hover, a.catalog_item_toogle_filter_reset:hover {
    color: #ef7f1a;
}

.catalog_item_toogle_filter .showfilter span,
.filter form table tr td .sect_name .sect_text span,
a.catalog_item_toogle_filter_hidden, a.catalog_item_toogle_filter_reset {
    border-bottom: none;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.filter form table tr td .sect_name .sect_text span {
    font-size: 12px;
}

.filter.vertical form table tr td .bx_filter_container_modef_popup {

}

.filter form table tr td .bx_filter_popup {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
    color: #FFFFFF;
    padding: 10px 10px;
}

.filter.vertical form table tr td .bx_filter_popup:before {
    border-left: none;
    border-right: 9px solid #ef7f1a;
    border-right: none !important;
}

.filter.vertical form table tr td .bx_filter_popup:after {
    border-left: none;
    border-right: 10px solid #ef7f1a;
    left: -10px;
}

.filter form table tr td .bx_filter_popup a,
.filter form table tr td .bx_filter_popup a:visited {
    border: 1px #FFFFFF solid;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
}

.filter form table tr td .bx_filter_popup a:hover {
    text-decoration: none;
    background: #FFFFFF;
    color: #ef7f1a;
}

.filter form table tr td .bx_filter_popup #modef_popup_num {
    display: inline-block;
    font-size: 14px;
    padding: 1px 5px;
    min-width: 16px;
    background: #FFFFFF;
    color: #ef7f1a;
    text-align: center;
}

/* сортировка */
.catalog-item-sorting a:hover, .catalog-item-limit a:hover {
    color: #ffffff;
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}

.catalog-item-sorting a.selected, .catalog-item-sorting
a.selected:hover, .catalog-item-limit a.selected, .catalog-item-limit a.selected:hover {
    color: #ffffff;
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}

.catalog-item-sorting a.selected.asc:after {
    border-bottom: 6px solid #ffffff;
}

.catalog-item-sorting a.selected.desc:after {
    border-top: 6px solid #ffffff;
}

.catalog-item-view a:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}

/* внутренняя навигация в каталоге */
.catalog-section-child a, .reviews-section-child a,
.catalog-section-child a .child, .reviews-section-child a .child,
.catalog-section-child a .child .text, .reviews-section-child a .child .text {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
}

.catalog-section-child a:hover, .reviews-section-child a:hover {
    webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/* превью баннер каталога */
.catalog-item-banner {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

/* товары из спсика в каталоге */
.catalog-item,
.catalog-item .catalog-item-info,
.catalog-item-card,
.catalog-item-card .catalog-item-info,
.catalog-item .compare a, .catalog-item .delay a,
.catalog-item-sorting a, .catalog-item-limit a,
.catalog-item-view a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.catalog-item .buy_more .compare a, .catalog-item .buy_more .delay a,
.catalog-item-card .buy_more .compare a, .catalog-item-card .buy_more .delay a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.catalog-item .compare a:hover, .catalog-item .delay a:hover,
.catalog-item-card .buy_more .compare a:hover, .catalog-item-card .buy_more .delay a:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}

.catalog-item:hover,
.catalog-item-card:hover,
.catalog-item:hover .catalog-item-info,
.catalog-item-card:hover .catalog-item-info {
    webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.catalog-item .buy_more .avl i,
.catalog-item-card .buy_more .avl i,
.catalog-item-price-view .avl i {
    color: #ef7f1a;
}

.catalog-item-card .buy_more .compare a.catalog-item-compared:hover i,
.catalog-item-card .buy_more .delay a.catalog-item-delayed:hover i,
.catalog-item .compare a.catalog-item-compared:hover i,
.catalog-item .delay a.catalog-item-delayed:hover i,
.catalog-item .compare a.catalog-item-compared:hover span,
.catalog-item .delay a.catalog-item-delayed:hover span {
    color: #ffffff !important;
}

.catalog-item .rating .star-voted i,
.catalog-item-card .rating .star-voted i,
.catalog-detail .rating .star-voted i {
    color: #ef7f1a;
}

.catalog-item .progress_bar_line,
.catalog-item-card .progress_bar_line {
    background: #ef7f1a;
}

.catalog-item .item-price .catalog-item-price-percent,
.catalog-item-card .catalog-item-price-percent {
    color: #ef7f1a;
}

.buy_more a.minus, .buy_more_detail a.minus,
.buy_more a.plus, .buy_more_detail a.plus {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.buy_more a.minus:hover, .buy_more_detail a.minus:hover,
.buy_more a.plus:hover, .buy_more_detail a.plus:hover {
    background: #ef7f1a;
}

.buy_more input[class="quantity"], .buy_more_detail input[class="quantity"] {
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 1px solid #dee0ee;
}

.catalog-item .catalog-item-title a,
.catalog-item-card .item-all-title a {
    text-decoration: none;
}

.catalog-detail .compare a:hover, .catalog-detail .delay a:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}

.catalog-detail .catalog-detail-price .avl i {
    color: #ef7f1a;
}

.catalog-detail .catalog-detail-price .catalog-detail-item-price-percent {
    color: #ef7f1a;
}

/* товары из спсика в каталоге - стикеры на товаре */
.catalog-item .catalog-item-image .time_buy_sticker,
.catalog-item-card .item-image .time_buy_sticker {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.catalog-item .catalog-item-image .time_buy_figure,
.catalog-item-card .item-image .time_buy_figure {
    border-top: 93px solid #ef7f1a;
    border-right: 93px solid transparent;
}

.catalog-item .catalog-item-image .sticker .discount,
.catalog-item .catalog-item-image .sticker .hit,
.catalog-item .catalog-item-image .sticker .new,
.catalog-item .catalog-item-image .sticker .stock,
.catalog-item-card .item-image .sticker .discount,
.catalog-item-card .item-image .sticker .hit,
.catalog-item-card .item-image .sticker .new,
.catalog-item-card .item-image .sticker .stock,
.catalog-detail-pictures .detail_picture .sticker .discount,
.catalog-detail-pictures .detail_picture .sticker .hit,
.catalog-detail-pictures .detail_picture .sticker .new,
.catalog-detail-pictures .detail_picture .sticker .stock {
    background: #ef7f1a;
}

.catalog-item .catalog-item-image .sticker .discount:after,
.catalog-item .catalog-item-image .sticker .hit:after,
.catalog-item .catalog-item-image .sticker .new:after,
.catalog-item .catalog-item-image .sticker .stock:after {
    border-color: #ef7f1a transparent #ef7f1a #ef7f1a;
}

.catalog-item-card .item-image .sticker .discount:before,
.catalog-item-card .item-image .sticker .hit:before,
.catalog-item-card .item-image .sticker .new:before,
.catalog-item-card .item-image .sticker .stock:before,
.catalog-detail-pictures .detail_picture .sticker .discount:before,
.catalog-detail-pictures .detail_picture .sticker .hit:before,
.catalog-detail-pictures .detail_picture .sticker .new:before,
.catalog-detail-pictures .detail_picture .sticker .stock:before {
    border-color: #ef7f1a #ef7f1a #ef7f1a transparent;
}

/* Верхнее меню */
.top-menu {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.top-menu-header, .top-menu {
    background: #ef7f1a;
}

.top-menu ul.store-horizontal li a {
    color: #ffffff;
}

.top-menu ul.store-horizontal li:hover a, .top-menu ul.store-horizontal li.jshover a, .top-menu ul.store-horizontal li:hover a.root-item-selected, .top-menu ul.store-horizontal li.jshover a.root-item-selected {
    color: #ef7f1a;
    background: #ffffff;
}

.top-menu ul.store-horizontal li ul {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    border-top: 1px solid #ffffff;
    color: #ffffff;
    background: #ef7f1a;
    -webkit-transition: opacity 0.15s ease 0s;
    -moz-transition: opacity 0.15s ease 0s;
    -o-transition: opacity 0.15s ease 0s;
    transition: opacity 0.15s ease 0s;
}

.top-menu ul.store-horizontal li ul li a:hover {
    color: #ef7f1a !important;
    background: #ffffff !important;
}

.top-menu ul.store-horizontal li ul li {
    border-bottom: 1px solid #ffffff;
}

/* Верхний поиск */
#altop_search form input[type="text"] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

#altop_search form input[type="submit"] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    color: #8184a1 !important;
    border: 1px solid #dee0ee;
}

#altop_search form input[type="submit"]:hover {
    color: #ffffff !important;
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}

/* Панель */
.foot_panel .foot_panel_1 .kabinet a span,
.foot_panel .foot_panel_1 .compare_line a span.text,
.foot_panel .foot_panel_1 .delay_line a span.text,
.foot_panel .foot_panel_2 .cart_line a span.text {
    display: none;
}

.foot_panel_2 .oformit_cont {
    padding: 0 10px 0 0;
}

.kabinet a i {
    padding: 0 !important;
}

.kabinet a i,
.compare_line a i,
.delay_line a i,
.cart_line a i {
    color: #ffffff !important;
}

.kabinet a .qnt,
.compare_line a .qnt,
.delay_line a .qnt,
.cart_line a .qnt {
    color: #363224 !important;
    background: #ffffff !important;
}

.kabinet a:hover,
.compare_line a:hover,
.delay_line a:hover {
    background: #ffffff !important;
}

.kabinet a:hover i,
.compare_line a:hover i,
.delay_line a:hover i {
    color: #f18c32 !important;
}

.kabinet a:hover .qnt,
.compare_line a:hover .qnt,
.delay_line a:hover .qnt {
    color: #ffffff !important;
    background: #f18c32 !important;
}

/*
.foot_panel .btn_buy.popdef {
    background: #d26b0f !important;
    color: #e19047 !important;
}

.foot_panel .btn_buy.popdef:hover {
    background: #ffffff !important;
    color: #f18c32 !important;
}
*/
.foot_panel .btn_buy.popdef {
    background: #ffffff !important;
    color: #000 !important;
    border: 1px solid #ffffff;
}

.foot_panel .btn_buy.popdef:hover {
    background: #ef7f1a !important;
    color: #ffffff !important;
}

/* главный слайдер */
.anythingSlider-default .anythingWindow {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.anythingSlider-default .arrow.forward a, .anythingSlider-default .arrow.back a {
    background: #f18c32 !important;
}

.anythingSlider-default .arrow.forward a:before, .anythingSlider-default .arrow.back a:before {
    border-bottom: 4px solid #f18c32;
}

.anythingSlider-default .arrow.forward a:after, .anythingSlider-default .arrow.back a:after {
    border-top: 4px solid #f18c32;
}

.anythingSlider-default .anythingControls ul li a {
    width: 8px;
    height: 8px;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #ffffff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    background: #ef7f1a;
}

.anythingSlider-default .anythingControls ul li a:hover {
    background: #ffffff;
}

/* Вы смотрели */
.already_seen {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.already_seen ul li,
.already_seen ul li a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.already_seen ul li a span {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    background: #ef7f1a;
}

.already_seen ul li a span::after {
    border-top: 11px solid #ef7f1a;
}

/* Заказать звонок */
.btn_buy.apuo:hover {
    border: 1px solid #ef7f1a !important;
}

.btn_buy.apuo:hover {
    background: #ef7f1a !important;
}

.btn_buy,
.btn_buy.popdef {
    background: #ef7f1a;
}

.btn_buy:hover {
    background: #d26b0f;
}

.btn_buy.boc_anch:hover {
    background: #ef7f1a;
}

/* Таймер */
.catalog-item .time_buy_cont,
.catalog-item-card .time_buy_cont,
.catalog-item-price-view .time_buy_cont {
    background: #ef7f1a;
    color: #ffffff !important;
}

.catalog-item .time_buy_cont .countdown-period,
.catalog-item-card .time_buy_cont .countdown-period,
.catalog-item-price-view .time_buy_cont .countdown-period {
    color: #ffffff !important;
}

/* логотип внизу */
.footer_right .footer-design {
    margin: 10px 36px 0 0;
}

.footer_right {
    float: right;
    width: 370px;
}

/* Заголовок всплывающего окна */
.pop-up .h1, .bx-core-adm-dialog.popup-store .bx-core-adm-dialog-head,
.popup-set .popup-window-top-row .popup-window-center-column,
.pop-up .popup-window-titlebar {
    background: #ef7f1a;
}

/* Корзина */
.cart-items .equipment .tbody .cart-item-name a {
    text-decoration: none;
}

.cart-items .equipment .tbody .cart-item-price .old-price {
    color: #ef7f1a;
}

.cart-items .equipment .tbody .cart-item-actions .delay a,
.cart-items .equipment .tbody .cart-item-actions .in-order a,
.cart-items .equipment .tbody .cart-item-actions .delete a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.cart-items .equipment .tbody .cart-item-actions .delay a:hover,
.cart-items .equipment .tbody .cart-item-actions .in-order a:hover,
.cart-items .equipment .tbody .cart-item-actions .delete a:hover {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
}

.cart-items .equipment .tbody .tr, .cart-items .equipment-order .tbody .tr,
.cart-items .equipment .tbody .myorders_itog, .cart-items .equipment-order .myorders_itog,
.cart-items .w100p .bx_ordercart_coupon input,
.cart-items .w100p .bx_ordercart_coupon button {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.cart-items .w100p .bx_ordercart_coupon button {
    background: #ef7f1a;
}

.cart-items .w100p .bx_ordercart_coupon button:hover {
    background: #d26b0f;
}

.cart-items .equipment .tbody .myorders_itog .cart-allsum,
.cart-items .equipment-order .myorders_itog .cart-allsum {
    color: #d26b0f;
}

/**/
.fa.delivery-small-icon,
.fa.bonus-small-icon,
.fa.discount-small-icon,
.fa.credit-small-icon {
    height: 22px;
    width: 22px;
}

.fa.delivery-small-icon {
    background: url("./icon/delivery-small-icon.svg") center center no-repeat;
}

.fa.bonus-small-icon {
    background: url("./icon/bonus-small-icon.svg") center center no-repeat;
}

.fa.discount-small-icon {
    background: url("./icon/discount-small-icon.svg") center center no-repeat;
}

.fa.credit-small-icon {
    background: url("./icon/credit-small-icon.svg") center center no-repeat;
}

/* Новости - Акции */
.reviews-section-child a:hover {
    background: #ef7f1a;
}

.reviews-section-child a:hover .child .text {
    color: #ffffff;
}

.reviews-list .reviews-item .item-image {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.reviews-list .reviews-item {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    border: 1px solid #ffffff;
}

.reviews-list .reviews-item:hover {
    webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ef7f1a;
}

/* Вакансии */
.VacanciesValidBlock {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font: 14px/16px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    padding-bottom: 20px;
    width: 470px;
    margin: 10px 5px 10px 5px;

}

.VacanciesValidBlockArchive {
    display: none;
}

.VacanciesValidBlockColumn_01,
.VacanciesValidBlockColumn_02 {
    width: 478px;
}

.VacanciesValidBlockColumn_01 {
    float: left;
}

.VacanciesValidBlockColumn_02 {
    float: right;
}

.VacanciesValidBlockTitle {
    clear: both;
    background: #ef7f1a;
}

.VacanciesValidBlockTitleText {
    color: #fff;
    font: 20px/32px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    font-weight: bold;
    padding: 0 6px;
    height: 32px;
    text-align: center;
    text-shadow: none;
}

.VacanciesValidString {
    border-bottom: 1px #999 dotted;
    font: 14px/16px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
}

.VacanciesValidString:hover {
    background: #fdd19a;
    cursor: pointer;
    color: #ef7f1a;
}

.validVacancyAdress,
.validVacancyContactUser,
.validVacancyContactInfo {
    float: left;
    padding: 10px 2px;
    text-align: center;
}

.validVacancyAdress {
    width: 190px;
    width: 320px;
    font: 14px/32px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
}

.validVacancyContactUser {
    width: 130px;
}

.validVacancyContactInfo {
    width: 130px;
}

/* генерация карты */
.APLS_mapGeometryButtomBlock {
    text-align: center;
    padding: 10px;
}

#APLS_mapGeometry {
    display: none;
    height: 50px;
    min-height: 150px;
    max-height: 150px;
    width: 938px;
    min-width: 938px;
    max-width: 938px;
    padding: 10px;
    font: 13px/17px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    border: none;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 #fff;
}

/* Особенности товаров */
.FeaturesProductsWrapper {
    margin-bottom: 15px;
}

.FeaturesProductsIconBlock {
    /*background: #00a2df;*/
    height: 40px;
    width: 40px;
    float: left;
}

.FeaturesProductsWrapper .FeaturesProductsTextBlock {
    /*background: #00aa00;*/
    margin-left: 40px;
    padding: 3px 10px;
}

.FeaturesProductsWrapper .FeaturesProductsTextBlock .FeaturesProductsName {
    font-weight: bold;
}

.FeaturesProductsWrapper .FeaturesProductsTextBlock .FeaturesProductsText {
}

/* Футер */
.footer_menu {
    width: 953px;
}

.footer_soc_pay {
    width: 221px;
}

/* скрытые элементы */
.catalog-detail .catalog-detail-buttons {
    display: none;
}

/* Кнопка показа или скрытия фильтров */
.catalog_item_toogle_filter .showfilter {
    border: 2px solid #ef7f1a;
    background: #ef7f1a;
    color: #FFFFFF;
}

.catalog_item_toogle_filter .showfilter span,
.catalog_item_toogle_filter .showfilter i {
    color: #FFFFFF;
}

/* Оформление системных сообщений */
.alertMsg.good {
    border: 1px solid #ef7f1a;
    background: #ef7f1a;
    color: #FFFFFF;
}

.alertMsg.good .text {
    color: #FFFFFF;
}

/* оформление заказа */
.bx-core-adm-dialog.popup-store table#store_table td.image {
    display: none;
}

.bx-core-adm-dialog {
    overflow: visible !important;
}

.myorders .person_type, .myorders .order-info, .personal .personal-info {
    border-top: none;
}

.order-info #select_store > .select_store {
    font-weight: bolder;
}

.order-info #select_store > .ora-store {
    font-weight: bolder;
    color: #ef7f1a;
}

.order-info .sale_delivery_price {
    font-weight: bolder;
}

.order-info .order-info_in.order-info_in_table {
    padding: 0;
    border: none;
}

.order-info .order-info_in > table {
    border-collapse: collapse;
    border: none;
    margin: 0px;
}

.order-info .order-info_in > table tr:hover {
    background: #f7f7f7;
    cursor: pointer !important;
}

.order-info .order-info_in.order-info_in_table td {
    vertical-align: middle;
}

.order-info .order-info_in.order-info_in_table td > div {
    text-align: justify;
}

.order-info .order-info_in.order-info_in_table td.name {
    color: #8184a1;
    font: bolder 13px/13px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
}

.order-info .order-info_in > table > tbody > tr > td:first-child {
    width: 40px;
}

.order-info .order-info_in > table > tbody > tr > td:last-child {
    padding-right: 25px;
}

.order-info .order-info_in > table > tbody > tr > td {
    padding: 10px 5px;
    border-bottom: 1px solid #edeef8;
}

.order-info .order-info_in > table > tbody > tr:last-child > td {
    border-bottom: none;
}

#order_form_content.myorders h2,
#order_form_content.personal h2 {
    margin: 0 !important;
}

#order_form_content.myorders h2 + .cart-items .equipment-order,
#order_form_content.personal h2 + .cart-items .equipment-order {
    margin-top: 2px;
}

#order_form_content.myorders .cart-items .equipment-order .tr,
#order_form_content.personal .cart-items .equipment-order .tr {
    border-top: none;
    margin: 0;
}

.cart-items .equipment .tbody .myorders_itog,
.cart-items .equipment-order .myorders_itog {
    border-top: none !important;
    margin: 0 !important;
}

.order-info .order-info_in .block {
    position: relative;
}

.order-info .order-info_in .block span.star {
    color: #d26b0f;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    font: 16px/16px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    position: absolute;
    top: 10px;
}

.location-block-wrapper {
    display: inline-block;
}

.myorders .order-info .dropdown-block {
    margin: 0;
}

.order-info .order-info_in .block select {
    width: 319px;
}

.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
    display: none;
}

.radio + label {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    height: 24px;
    width: 24px;

}

.radio:not(checked) {
    position: absolute;
}

.radio:not(checked) + label {
    position: relative;
}

.radio:not(checked) + label:before {
    font-weight: bolder;
    content: '✖';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    background: #edeef8;
    background: transparent;
    font: 16px/22px "PT Sans", helvetica, "segoe UI", arial, sans-serif;
    color: #8184a1;
    text-align: center;
}

.radio:checked + label:before {
    /*display: none;*/
    content: '✔';
    color: #ef7f1a;
}

.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(239, 127, 26, .5);
}

.order-info .order-info_in > table tr:hover .radio:not(checked) + label:before {
    content: '✔';
}

#apls_adress_map {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    display: none;
}

#apls_adress_map .ymaps-2-1-45-copyrights-pane,
#apls_adress_map .ymaps-2-1-45-controls__control,
#apls_adress_map .ymaps-2-1-45-controls__bottom,
#apls_adress_map .ymaps-2-1-45-controls-pane {
    display: none;
}

.delivery_extra_services {
    margin-left: 90px;
}

.delivery_extra_services .name {
    text-align: right;
}

/* войти как | соцсети */
.login-form .login_as,
.sale_order_full_table .login_as {
    display: none;
}

.custom-forms label {
    line-height: 20px;
    margin-bottom: 10px;
}

ul.left-menu > li > a {
    font-size: 12px;
}

/* Мои заказы */
.cart-items .equipment-order.list .thead .cart-item-status {
    width: 155px;
}

.cart-items .equipment-order.detail .thead .cart-item-status {
    width: 155px;
}

.cart-items .equipment-order.list .tbody .cart-item-status span.item-status-a {
    font-weight: 700;
    color: #688123;
}

.cart-items .equipment-order.list .tbody .cart-item-status {
    width: 150px;
}

.cart-items .equipment-order.detail .tbody .cart-item-status {
    width: 150px;
}

.cart-item-payment a {
    border: 2px solid #ef7f1a;
    background: #FFFFFF;
    color: #ef7f1a !important;
    display: block;
    text-decoration: none !important;
    text-transform: lowercase;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    padding: 0 5px;
    width: 90px;
    text-align: center;
    margin-top: 10px;
}

.cart-item-payment a:hover {
    border: 2px solid #ef7f1a;
    background: #ef7f1a;
    color: #FFFFFF !important;
}

.notetext p a {
    color: #ef7f1a;
    text-decoration: none !important;
    font-weight: bold;
}

.notetext p a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

/* Кол-во товара на складе */
#catalog-detail-stores-from .catalog-detail-store {
    border: 1px solid #e0e3e7;
}

#catalog-detail-stores-from .catalog-detail-store .store {
    width: 550px;
}

#catalog-detail-stores-from .catalog-detail-store .adres {
    margin: auto 0;
}

#catalog-detail-stores-from .catalog-detail-store .store,
#catalog-detail-stores-from .catalog-detail-store .store .title,
#catalog-detail-stores-from .catalog-detail-store .store .phone,
#catalog-detail-stores-from .catalog-detail-store .adres {
    float: left;
}

#catalog-detail-stores-from .catalog-detail-store .store .title,
#catalog-detail-stores-from .catalog-detail-store .store .phone,
#catalog-detail-stores-from .catalog-detail-store .adres,
#catalog-detail-stores-from .catalog-detail-store .amount {
    padding: 5px;
}

#catalog-detail-stores-from .catalog-detail-store .amount {
    float: right;
    margin: auto 0;
}

#catalog-detail-stores-from .catalog-detail-store:hover {
    border: 1px solid #ef7f1a;
    cursor: pointer;
}

#catalog-detail-stores-from .catalog-detail-store a {
    color: #a0a4bc;
}

/* Страница Спасибо за покупку */
.wrapperPageFinalPayment {
    margin-top: 10px;
}

.pageFinalPayment {
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.myOrder,
.myCatalog {
    padding: 5px 7px;
    float: left;
}

.myOrder {
    margin-right: 10px;
}

.myCatalog {
}

.pageFinalPaymentOrderNunber {
    color: #ef7f1a;
}

/*Заказ. Скрытие полей подъём и ко времени*/
[data-property-id-row="33"],
[data-property-id-row="34"] {
    display: none;
}

.ServiceCenterSelectBox {
    border: 1px solid orange !important;
}
@media (min-width:1014px) and (max-width:1253px){
    .NavigatorBigIcon .NavigatorBigIconElementHref {
        margin: 0px 0px 2px 0px;
    }
    .NavigatorBigIcon .NavigatorBigIconElementHref:nth-child(3n + 2) {
        margin: 0px 2px 2px 2px;
    }
    .NavigatorBigIcon .NavigatorBigIconElementHref:nth-child(3n + 3) {
        margin: 0px 2px 2px 0px;
    }
    .workarea .ServiceCentersGroup_Column1,
    .workarea .ServiceCentersGroup_Column2,
    .workarea .ServiceCentersElement,
    .VacanciesValidBlockColumn_01,
    .VacanciesValidBlockColumn_02,
    .VacanciesValidBlock,
    .validVacancyAdress,
    .validVacancyContactInfo{
        width: 350px;
    }
    .validVacancyAdress {
        padding: 0px;
    }
    .validVacancyContactInfo {
        padding: 0px 0px 5px 0px;
    }
}
@media (min-width:788px) and (max-width:1013px){
    .NavigatorBigIcon .NavigatorBigIconElementHref {
        margin: 0px 0px 2px 0px;
    }
    .NavigatorBigIcon .NavigatorBigIconElementHref:nth-child(3n + 2) {
        margin: 0px 2px 2px 2px;
    }
    .NavigatorBigIcon .NavigatorBigIconElementHref:nth-child(3n + 3) {
        margin: 0px 2px 2px 0px;
    }
    .workarea .ServiceCentersGroup_Column1,
    .workarea .ServiceCentersGroup_Column2,
    .workarea .ServiceCentersElement,
    .VacanciesValidBlockColumn_01,
    .VacanciesValidBlockColumn_02,
    .VacanciesValidBlock,
    .validVacancyAdress,
    .validVacancyContactInfo{
        width: 350px;
    }
    .validVacancyAdress {
        padding: 0px;
    }
    .validVacancyContactInfo {
        padding: 0px 0px 5px 0px;
    }
}
@media screen and (max-width:787px){
    #feedback-button,
    .workarea .anythingContainer,
    .workarea .advantages.lines,
    .footer_soc_pay {
        display: none;
    }
    .header_1 .logo a img {
        width: auto;
        height: 50px;
    }
    header {
        height: auto;
        margin: 85px 0px 0px 0px;
        padding: 5px 0px 5px 0px;
    }
    .NavigatorBigIcon .NavigatorBigIconElementHref {
        float: none !important;
        border: 1px solid #dee0ee;
        width: 100% !important;
        height: 200px;
        text-align: center;
        color: #8184a1;
        text-decoration: none;
        margin: 0px 0px 5px 0px!important;
        padding: 0px!important;
    }
    .NavigatorBigIcon .NavigatorBigIconElementHref:hover {
        border: 1px solid #ef7f1a;
    }

    .workarea .ServiceCentersGroup_Column1,
    .workarea .ServiceCentersGroup_Column2,
    .workarea .ServiceCentersElement,
    .VacanciesValidBlockColumn_01,
    .VacanciesValidBlockColumn_02,
    .VacanciesValidBlock,
    .validVacancyAdress,
    .validVacancyContactInfo{
        width: 100%;
    }
    .validVacancyAdress {
        padding: 0px;
    }
    .validVacancyContactInfo {
        padding: 0px 0px 5px 0px;
    }
}